<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Дэшборд</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="wrapper">
    <div class="reg-container">
        <form class="hystmodal_form" method="POST">
            {% csrf_token %}
            <legend>Регистрация</legend>
            <div class="form-row">
                <div class="form-row-title">Личные данные</div>
                <div class="col-2">
							<input type="text" name="name" placeholder="Имя">
						</div>
						<div class="col-2">
							<input type="text" name="s_name" placeholder="Фамилия">
						</div>
					</div>
					<div class="form-row">
						<div class="form-row-title">Паспортные данные</div>
						<div class="col-2">
							<input type="text" name="p_series" placeholder="Серия">
						</div>
						<div class="col-2">
							<input type="text" name="p_number" placeholder="Номер">
						</div>
					</div>
					<div class="form-row">
						<div class="form-row-title">Данные с места работы</div>
						<div class="col-2">
							<input type="text" name="org" placeholder="Наименование организации">
						</div>
						<div class="col-2">
							<input type="text" name="job_title" placeholder="Должность">
						</div>
					</div>
					<div class="form-row">
						<div class="form-row-title">Данные для входа</div>
						<div class="col-2">
							<input type="text" name="username" placeholder="Придумайте логин">
							<input type="email" name="email" placeholder="Email">
						</div>
						<div class="col-2">
							<input type="password" name="ps" placeholder="Придумайте пароль">
							<input type="password" name="ps1" placeholder="Подтвердите пароль">
						</div>
					</div>
					<input type="submit" name="submit" value="Отправить на модерацию">
				</form>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>